{%  load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>DATABASE OF INDIAN AMRY</title>

  <!-- css -->
  <link href="{% static 'defence/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'defence/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="{% static 'defence/plugins/cubeportfolio/css/cubeportfolio.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'defence/plugins/cubeportfolio/css/styleevent.css' %}">
  <link href="{% static 'defence/css/nivo-lightbox.css' %}" rel="stylesheet" />
  <link href="{% static 'defence/css/nivo-lightbox-theme/default/default.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'defence/css/owl.carousel.css' %}" rel="stylesheet" media="screen" />
  <link href="{% static 'defence/css/owl.theme.css' %}" rel="stylesheet" media="screen" />
  <link href="{% static 'defence/css/animate.css' %}" rel="stylesheet" />
  <link href="{% static 'defence/css/style.css' %}" rel="stylesheet">

  <!-- boxed bg -->
  <link id="bodybg" href="{% static 'defence/bodybg/bg1.css' %}" rel="stylesheet" type="text/css" />
  <!-- template skin -->
  <link id="t-colors" href="{% static 'defence/color/default.css'%}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Medicio
    Theme URL: https://bootstrapmade.com/medicio-free-bootstrap-theme/
    Author: BootstrapMade
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">


  <div id="wrapper">

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="top-area">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-6">
              <p class="bold text-left">INDIAN ARMY </p>
            </div>
            <div class="col-sm-6 col-md-6">
              <p class="bold text-right">Service Before Self</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container navigation">

        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>s
                </button>
          <a class="navbar-brand" href="index.html">
                    <img src="{% static 'defence/img/logo.jpg' %}" alt="" width="150" height="40" />
                </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{%url 'defence:seohome'%}">Home</a></li>
            <li><a href="{%url 'defence:profileseo'%}">PROFILE</a></li>
            <li><a href="{%url 'defence:healthadm'%}">HEALTH</a></li>
            <li><a href="{%url 'defence:seoevent'%}">EVENTS</a></li>
            <li><a href="{%url 'defence:adddoctor'%}">ADD DOCTOR</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="badge custom-badge red pull-right">Extra</span>More <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{%url 'defence:seoexam'%}">Exams</a></li>
                <li><a href="{%url 'defence:leaveseo'%}">Leave</a></li>
                
              </ul>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>
     <br><br><br><br><br>
<div>
        <section>
        
			<div class="leftBox">
				<div class="content">
					<h1>Events And Shows</h1>
					<p>The Army Day is celebrated to remember the gallant spirit of the Indian Army Lieutenant General Kodandera Madappa Cariappa,
						the first Commander-in-Chief of the democratic India. He succeeded the last commander of British in India, Sir Francis Butcher,
						in 1948.Cariappa was the first Indian Officer who was passed on the command of a unit in 1942. During the Indo-Pakistan War of 1947,
						the Indian forces were headed by General K.M. Cariappa on the Western Front. He held the eminent gr
					</p>
				</div>
			</div>
			<div class="events">
				<ul>
					<li>
						<div class="time">
							<h2>15<br><span>January</span></h2>
						</div>
						<div class="details">
							<h3>Where Does it Come From</h3>
							<p>The Army Day is celebrated on 15 January every year at the headquarters of the Army Command and Delhi in order to pay 
								reverence to the brave heroes of the 		
							</p>
							<a href="#">View Details</a>
						</div>
						<div style="clear: both;"></div>
					</li>
					<li>
						<div class="time">
							<h2>24<br><span>June</span></h2>
						</div>
						<div class="details">
							<h3>Where Does it Come From</h3>
							<p>The day recognizes the unparalleled contribution of the Indian soldiers by honoring them with bravery awards,
								including Vishist .
							</p>
							<a href="#">View Details</a>
						</div>
						<div style="clear: both;"></div>
					</li>
					<li>
						<div class="time">
							<h2>19<br><span>July</span></h2>
						</div>
						<div class="details">
							<h3>Where Does it Come From</h3>
							<p>The Army Day is celebrated on 15 January every year at the headquarters of the Army Command and Delhi in order to pay 
								reverence to the brave heroes 		
							</p>
							<a href="#">View Details</a>
						</div>
						<div style="clear: both;"></div>
					</li>
				<ul>
			</div>
			
		</section>
</div>

    <footer>

      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="wow fadeInDown" data-wow-delay="0.1s">
              <div class="widget">
                <h5>About Medicio</h5>
                <p>
                  Lorem ipsum dolor sit amet, ne nam purto nihil impetus, an facilisi accommodare sea
                </p>
              </div>
            </div>
            <div class="wow fadeInDown" data-wow-delay="0.1s">
              <div class="widget">
                <h5>Information</h5>
                <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Laboratory</a></li>
                  <li><a href="#">Medical treatment</a></li>
                  <li><a href="#">Terms & conditions</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="wow fadeInDown" data-wow-delay="0.1s">
              <div class="widget">
                <h5>Medicio center</h5>
                <p>
                  Nam leo lorem, tincidunt id risus ut, ornare tincidunt naqunc sit amet.
                </p>
                <ul>
                  <li>
                    <span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-calendar-o fa-stack-1x fa-inverse"></i>
								</span> Monday - Saturday, 8am to 10pm
                  </li>
                  <li>
                    <span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-phone fa-stack-1x fa-inverse"></i>
								</span> +62 0888 904 711
                  </li>
                  <li>
                    <span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
								</span> hello@medicio.com
                  </li>

                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="wow fadeInDown" data-wow-delay="0.1s">
              <div class="widget">
                <h5>Our location</h5>
                <p>The Suithouse V303, Kuningan City, Jakarta Indonesia 12940</p>

              </div>
            </div>
            <div class="wow fadeInDown" data-wow-delay="0.1s">
              <div class="widget">
                <h5>Follow us</h5>
                <ul class="company-social">
                  <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li class="social-google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li class="social-vimeo"><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                  <li class="social-dribble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sub-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div class="wow fadeInLeft" data-wow-delay="0.1s">
                <div class="text-left">
                  <p>&copy;Copyright - Medicio Theme. All rights reserved.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div class="wow fadeInRight" data-wow-delay="0.1s">
                <div class="text-right">
                  <div class="credits">
                    <!--
                      All the links in the footer should remain intact. 
                      You can delete the links only if you purchased the pro version.
                      Licensing information: https://bootstrapmade.com/license/
                      Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Medicio
                    -->
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </div>
  <a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>

  <!-- Core JavaScript Files -->
  <script src="{%  static 'defence/js/jquery.min.js' %}"></script>
  <script src="{%  static 'defence/js/bootstrap.min.js' %}"></script>
  <script src="{%  static 'defence/js/jquery.easing.min.js' %}"></script>
  <script src="{%  static 'defence/js/wow.min.js' %}"></script>
  <script src="{%  static 'defence/js/jquery.scrollTo.js' %}"></script>
  <script src="{%  static 'defence/js/jquery.appear.js' %}"></script>
  <script src="{%  static 'defence/js/stellar.js' %}"></script>
  <script src="{%  static 'defence/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js' %}"></script>
  <script src="{%  static 'defence/js/owl.carousel.min.js' %}"></script>
  <script src="{%  static 'defence/js/nivo-lightbox.min.js' %}"></script>
  <script src="{%  static 'defence/js/custom.js' %}"></script>

</body>
</html>

